@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #383848;
    --secondary-color: #e4b95b;
    --third-color: #9a9a9a;
    --forth-color: #e2dadd;
    --section-padding : 80px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width : 786px) {
        
    .container {
        width: 750px;
    }

}
@media (min-width : 992px) {
        
    .container {
        width: 970px;
    }

}@media (min-width : 1200px) {
        
    .container {
        width: 1170px;
    }

}
/* Start landing page */
.landing {
    height: 100vh;
    width: 100%;
    background:  url(../images/showcase\ img.jpg) center center /cover no-repeat;
    position: relative;
}
.to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: -50px;
    bottom: 30px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    transition: .3s;
}
.show {
    right: 30px;
}
.to-top:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: none;
}

.to-top i {
    font-size: 30px;
    padding: 10px;
}

.landing::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 ,0.65 );

}
.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 17vh;
    position: relative;
    z-index: 2;
}
.landing .logo {
    display: flex;
    align-items: center;
}
.landing .logo img { 
    width: 70px;
    margin-right: 10px;
}
.landing h2 {
    font-size: 40px;
    color: #fff;
}
.landing .container .nav ul li {
    display: inline-block;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 18px;
}
.landing .container .nav ul li a {
    text-decoration: none;
    color: #ffff;
    padding-bottom: 10px;
}
.landing .nav ul li a:hover {
    border-bottom: 1px solid var(--secondary-color);
}
.burger {
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    z-index: 500;


}
.burger:hover {
    background-color: var(--secondary-color);
}


.burger .line1,
.burger .line2 
,.burger .line3 {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 5px 0;


}
.postin {
    position: fixed;
    right: 78px;
}  
.slide {
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: var(--primary-color);
    top: 0;
    right: -200px;
    z-index:2;
    text-align: center;
    position: fixed;
    transition: .3s;

}
.slide ul {
    margin-top: 200px;

}
.slide ul li {
    list-style: none;
    padding: 20px;
    font-weight: 700;


}
.slide ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 20px;
}
.slide ul li a:hover {
  color: #fff;
  border-bottom: 1px solid var(--secondary-color);

}
.go {
    display: none;
}
.goo{
    right: 0;


}
.slide .burger{
    position: relative;
    top: 50px;
    left: 50px;
    width: 45px;
    background-color: var(--secondary-color);
}

.landing .words {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.landing .words h1 {
    font-weight: 700;
    font-size: 50px;
    width: 100%;
}
.landing .words p {
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 20px;
}
.landing .words input {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: #fff;

}
.landing .words input:hover {
    background-color: var(--secondary-color);
}

.landing .words span {
    color: var(--secondary-color);
}
@media (max-width:992px) {
    .nav{
        display: none;
    }
    .landing h2 {
        font-size: 30px;
    }
    .landing .words h1 {
        font-weight: 700;
        font-size: 40px;
        width: 100%;
    }
}
@media (min-width:992px) {
    .burger{
        display: none;
    }
    .slide {
        display: none;

    }
    .landing h2 {
    font-size: 40px;
    color: #fff;
}
}
/* end landing page */
/* Start about page  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.about .right {
    position: absolute;
    left: 20px;
    top: 100px;

}
.about .left {
    position: absolute;
    right: 20px;
    top: 100px;
    
}
.about .top {
    position: absolute;
    left: 20px;
    bottom:  10px;
    
}
@media (max-width:500px) {
    .about .icon1 img{
        width: 50px;
    }
    
}

.about .botton {
    position: absolute;
    right:  20px;
    bottom: 10px;
    
}
.about h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--primary-color);
}
.about .par {
    text-align: center;
    color: var(--third-color);
    font-size: 16px;
    margin-bottom: 50px;
    
}
.about .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .box p {
    line-height: 2;
    color: var(--third-color);
    font-size:15px ;
    font-weight: 600;

}
.about .box input {
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    border: none;
    margin: 20px 0;
}
.about .box input:hover {
    background-color: var(--secondary-color);
}

.about .box .text {
    flex-basis: 48%;
} 
.about .box .img {
    flex-basis: 48%;
} 
@media (max-width:1200px) {

    .about .box .text {
        flex-basis: 100%;
        text-align: center;
    } 
    .about .box .img {
        flex-basis: 100%;
        text-align: center;
    } 
    .about .box img {
       width: 250px;
    } 
}
/* End about page  */
/* Start dish page  */
.dish {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: url(../images/offer-background.jpg) center center /cover no-repeat;
}
.dish h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--secondary-color);
}
.dish .par {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;

    
} 
.dish .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    
}
.dish .container .one {
    flex-basis: 23%;
}
.dish .container .one h4 {
    color: #fff;
    font-size: 25px;
    margin: 20px 0;

}
.dish .container .one .fir {
    color: #fff;
}
.dish .pri {
    color: var(--secondary-color);
}
.dish del {
    color: #fff;
}
@media (max-width:992px) {
    .dish .container{
        gap: 50px;
        justify-content: center;

    }
}
/* End dish page  */


/* <!--Start Our Special Menu --> */
.Special {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.Special h2{
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: 50px;
    text-align: center;

 
}
.Special .par {
   
    color: var(--third-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;

}
.Special ul {
    text-align: center;
    margin-bottom: 30px;
}
.Special ul li {

    display: inline-block;
    padding: 15px  ;
    background-color: #eee;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    
}
.Special ul li:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.Special .active {
    background-color: var(--primary-color);
    color: #fff;
}
@media (max-width:530px) {
    .Special ul li {
        font-weight: 700;
        padding: 10px ;
        font-size: 10px;


    }

}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 0px;
}
.menu .box {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.menu .box h4 {
    padding-bottom: 15px;

}

.menu .box span {
   padding-left: 80px;
   color: var(--secondary-color);
  
}
.menu .box  p {
    font-size:16px ;
    width: 250px;
    padding-top: 15px;
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
    border-top: 1px dashed var(--third-color);
}
.border {
    width: 104px;
    height: 104px;
    border-radius: 50%;
}
@media (max-width:992px) {
    .menu {
     display: flex;
     flex-direction: column;
     align-items: center;
    }
    
}
@media (max-width:390px) {
    .menu .box span {
        padding-left: 80px;
        color: var(--secondary-color);
       
     }
    .menu .box {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        width: 100%;
    }
    .menu .box img {
        margin-bottom: 20px;
        }
        .menu .box  p {
            text-align: center;
        }  
}
.input {
    text-align: center;
    margin-top: 80px;
}
.input input {
    border-radius: 30px;
    border: none;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    min-width: 195px;
}
.input input:hover {
    background-color: var(--primary-color);
}
.hidde{
    display: none;
}

/* <!-- End Our Special Menu --> */
/* Start break */
.break {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: url(../images/food\ bg.jpg);
}
.break .container {
    display: flex;
    justify-content: space-around;   
    text-align: center;
    align-items: center;

}
.break .container .bre img{
    width: 87px;
    height: 87px;
}
.break .container .bre h2{
    color: #fff;
    margin-top: 10px;
    font-size: 30px;
}
.break .container .bre p{
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
}
@media (max-width:992px) {
    .break .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 90px ;

    }
    @media (max-width:500px) {
        .break .container {
            display: grid;
            grid-template-columns: 1fr ;
            gap: 90px ;
    
        }
    }
}
/* End break */

/* <!-- Start Blog --> */
.blog {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f4f2ed;
}
.blog h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.blog .par {
    text-align: center;
    font-size: 16px;
    color: var(--third-color);
    margin-bottom: 20px;
}
.blog .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.blog .container .box img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.blog .container .box {
    border-radius: 10px ;
    background-color: #ffffff;
    position: relative;
}
.blog .container .box .date {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color:var(--primary-color) ;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}
.blog .container .box p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 14px;
    color: #7a7676;
    font-weight: 600;
    margin-left: 20px;

}
.blog .container .box h4 {
    font-size: 20px;
    color: var(--primary-color);
    margin: 5px 0;
    margin-left: 20px;
}
.blog .container .box span {
    color: var(--secondary-color);
    margin-left: 4px;
}
.blog .container .box h5 {
    color: var(--secondary-color) ;
    margin-left: 20px;
    margin-bottom: 10px;
}
.blog .container .box a {
    text-emphasis: none;
    color: var(--secondary-color) ;

}
@media (max-width:1200px) {
    .blog .container .box {
        flex-basis: 45%;
    }
    .blog .container {
        /* display: grid;
        grid-template-columns: 1fr 1fr;*/
        gap: 20px; 
        justify-content:center;
    }
    
}
@media (max-width:786px) {
    .blog .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

    }

}

/* <!-- End Blog --> */

/* <!-- Start footer --> */
.footer {
    background-color:var(--primary-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

}
.footer h2 {
    color: var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.footer p {
    color: #ffff;
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer span {
    display: block;
}
.footer .line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer .line p {
    color:var(--third-color) ;
    padding-top: 10px;
}
.footer .line a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.footer .line i {
    width: 40px;
    height: 40px;
    border: 1px solid var(--third-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    color: var(--third-color);
    margin-left: 30px;
}
.footer .line i:hover {
    border-color: #fff;
    color: #fff;
    transition: .3s;
}
@media (max-width:992px) {
    .footer .line {
        flex-direction: column;
        justify-content: center;
    }

    
}
@media (max-width:350px) {
    .footer .line i {
        margin-left: 5px;

    }

    
}




/* <!-- End footer --> */
